INSTAGRAM_BUSINESS_ACCOUNT_ID=17841451093972737
INSTAGRAM_ACCESS_TOKEN=EAANZCVBxpJhgBRK2DrOFxeABw6GjPnxPwnK4limhL35IcJQJKW6a3vNegB9oP3xAZCnmM6ygXZBkJwlZA0ixcOQTPtREH9gAalQlaZCZAO2Pk5nMBG9ujqutvSw5SE2VldofA7MOTi3O4CxauLgbK36oqz6CR8d5eGAQo8sLW6zDQsjlEiL03MD6KG4WZA8qcsQnpTpldMYmyCNaSQrgrYh96E01N1ZASAOv6ZAZCvYYN9NLAfAZANQi23bNtpRtv4BvuBqEAf4iKAKLZCuAfxSZAtQAX
IMAGE_PROVIDER=openai
IMAGE_API_KEY=sk-...your_key...
IMAGE_MODEL=dall-e-3
CRON_TIME=0 8 * * *
TIMEZONE=Europe/Moscow
VERBOSE=true